.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #a316b6; /* Dark background color */
    color: #d1c7c7;
    /*min-height: 10vh;*/
    /* width: 100vw;
    height: 100vh; */
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 5rem;
  

}
.nav-links:hover{
    cursor: pointer;
   

}
.nav-links a::after{
    content:"";
    display:block;
    height: 2px;
    width:0;
    background: white;
    transition: width 0.3s ease;

}
.nav-links li {
    display: flex;
    align-items: center;
    margin-left: 10px;
  
}
.nav-links a{
    text-decoration: none;
}

.nav-links a:hover::after{
    width:100%;
}