.firstPart {
    background-color: rgb(105, 73, 103);
    text-align: left ;
    padding: 20px;
    display: flex;


}
.intro{
    background-color: rgb(105, 73, 103);
 
}
.social-container{
    /* display: flex; */
    flex-direction: row;
    width: 40%;
    height: auto;
    /* justify-content: space-between; */
}
.images{
    padding: 15px;
}
.images:hover{
    cursor: pointer;
    background-color: rgb(155, 65, 150);
    border-radius: 10 px ;
}
.IntroImage{
    padding-right: 2em;
    height: 100%;
}
.intro{
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 10em;

}
.intro_container{
    justify-content: center;
    align-self: center;
    text-align: justify;
    padding-right: 4em
    ;
    
}

.whatIdo h1{
    font-size: 3em;
}
.skill h1{
    font-size: 2em;
}

.one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill_and_description{
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    justify-content: center;
    align-items: center;
}




.image{
    max-width: 10vw;
    height: auto;
}
.image img{
    width: 40vw;
    height: auto;
}
.description{
    margin-right: 10%;
}
.skillImage{
    display: flex;
    flex-direction: row;
   
}
.skillImage img{
    width: 10vw;
    height: auto;
}



