.firstPart {
    background-color: rgb(105, 73, 103);
    text-align: left ;
    padding: 20px;
    display: flex;


}
.intro{
    background-color: rgb(105, 73, 103);
 
}
.social-container{
    /* display: flex; */
    flex-direction: row;
    width: 40%;
    height: auto;
    /* justify-content: space-between; */
}
.images{
    padding: 15px;
}
.images:hover{
    cursor: pointer;
    background-color: rgb(155, 65, 150);
    border-radius: 10 px ;
}
.IntroImage{
    padding-right: 2em;
    height: 100%;
}
.intro{
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 10em;

}
.intro_container{
    justify-content: center;
    align-self: center;
    text-align: justify;
    padding-right: 4em
    ;
    
}
.skill_and_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50em;
}



.one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin :0%;
}
.img{
  
    width: 200px;
    height: auto;
    padding-right : 0em;
   
}
.description{
    margin-right: 10%;
}



