.skill{
    display :flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 6%;
    /* background-color: rgb(117, 110, 87); */


}
.skillImage img{
    width: 40vw;
    height: 40 vh;
    margin: 10px;
}
.proficiency{
    padding-bottom: 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.a{
    height: 30px;
    width: 650px;
    background-color: brown;
    border-radius: 20%;
   
  
}
